# Claude API Key
ANTHROPIC_API_KEY=sk-8518979e68294617babd2
ANTHROPIC_AUTH_TOKEN=sk-8518979e68294617babd2
ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
MODEL=deepseek-v4-flash

# 服务端口
PORT=3015

# SDK 配置目录
# CLAUDE_CONFIG_DIR=d:\claudesdk-test\financial-chart-chat\.claude
